<a href="https://colab.research.google.com/github/manjunathdivij/learning_python/blob/main/vijayaproject5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#dictionary in python
student={
    "name": "ammu",
    "age": 25,
    "grade": "a"
}
print(student)
print(student["name"])
print(student["age"])
print(student["grade"])
student["grade"]="b"
print(student["grade"])
print(student)
student["name"]="dhanushwi"
student["age"]=20
student["grade"]="S"
print(student)

{'name': 'ammu', 'age': 25, 'grade': 'a'}
ammu
25
a
b
{'name': 'ammu', 'age': 25, 'grade': 'b'}
{'name': 'dhanushwi', 'age': 20, 'grade': 'S'}

In [ ]:
student_1= {
    "name":"divij",
    "age":25,
    "grade":"A+"
}
print(student_1["name"])
print(student_1.get("grade"))
print(student_1.get("marks","not found"))
print(student_1.get("age"))

divij
A+
not found
25

In [ ]:
student_1= {
    "name":"divij",
    "age":25,
    "grade":"A+"
}
student_1["city"]="mumbai"
student_1["age"]=21
print(student_1)
student_1["country"]="india"
student_1["grade"]="exlent"
print(student_1)
student_1["name"]="raji"
print(student_1)

{'name': 'divij', 'age': 21, 'grade': 'A+', 'city': 'mumbai'}
{'name': 'divij', 'age': 21, 'grade': 'exlent', 'city': 'mumbai', 'country': 'india'}
{'name': 'raji', 'age': 21, 'grade': 'exlent', 'city': 'mumbai', 'country': 'india'}

In [ ]:
#for loop-(dictionary)
student = {"name": "Anjali", "age": 21, "city": "Mumbai"}

# Keys
for k in student:
    print(k)

# Values
for v in student.values():
    print(v)

# Key-Value Pairs
for k, v in student.items():
    print(k, ":", v)

name
age
city
Anjali
21
Mumbai
name : Anjali
age : 21
city : Mumbai

In [ ]:
#dictinary
person = dict(name="viji", age=24, friend="divi", sister="dhanu" )
print(person)

{'name': 'viji', 'age': 24, 'friend': 'divi', 'sister': 'dhanu'}

In [ ]:
#copy-dictionary
student={'name': 'viji', 'age': 24, 'friend': 'divi', 'sister': 'dhanu'}
new_dic=student.copy()
print(new_dic)

{'name': 'viji', 'age': 24, 'friend': 'divi', 'sister': 'dhanu'}

In [ ]:
#merged dictionary
d1 = {"a": 1, "a1": 2, "name":"pure"}
d2 = {"b": 3, "c": 4}

merged = d1 | d2
print(merged)

{'a': 1, 'a1': 2, 'name': 'pure', 'b': 3, 'c': 4}

In [ ]:
user = {"name": "Rahul"}
user.setdefault("age", 25)
print(user)

{'name': 'Rahul', 'age': 25}

In [ ]:
item = "apple"
qty = 2
items = {"apple": 30, "banana": 10}
print(f"{item} x {qty} = {items[item] * qty}")

apple x 2 = 60

In [ ]:
#removing items
student_1={
    "name":"raji",
    "age":28,
    "grade":"A+",
    "city":"mumbai"
}
student_1.pop("city")
print(student_1)

{'name': 'raji', 'age': 28, 'grade': 'A+'}

In [ ]:
#looping through a dictionary
student_1={
    "name":"raji",
    "age":28,
    "grade":"A+",
    "city":"mumbai"
}
for key, value in student_1.items():
  print(key,value)

name raji
age 28
grade A+
city mumbai

In [ ]:
#check if key exists
student_1={
    "name":"raji",
    "age":28,
    "grade":"A+",
    "city":"mumbai",
    "grope":"sara"
}
if "grope" in student_1:
  print("grope exists")
else:
  print("not exists" )

grope exists

In [ ]:
#dictionary lenth
student_1={
    "name":"raji",
    "age":28,
    "grade":"A+",
    "city":"mumbai",
    "grope":"sara"
}
print(len(student_1))

5

In [2]:
person = dict(name="Charlie", age=30)
print(person)

{'name': 'Charlie', 'age': 30}

In [5]:
student_1={
    "name":"raji",
    "age":28,
    "grade":"A+",
    "city":"mumbai",
    "grope":"sara"
}

copy_dict = student_1.copy()
print(copy_dict)
copy_2 = student_1.copy()
print(copy_2)
copy_3 = dict(student_1)
print(copy_3)

{'name': 'raji', 'age': 28, 'grade': 'A+', 'city': 'mumbai', 'grope': 'sara'}
{'name': 'raji', 'age': 28, 'grade': 'A+', 'city': 'mumbai', 'grope': 'sara'}
{'name': 'raji', 'age': 28, 'grade': 'A+', 'city': 'mumbai', 'grope': 'sara'}

In [10]:
d1 = {"a": 1, "b": 2}
d2 = {"b": 3, "c": 4}

merged = d1 | d2
print(merged)
dict_1 = {"a":3,"rani":8}
dict_2 = {"rani":"ruja","e":6}
dil_2 = dict_1 | dict_2
print(dil_2)
dil_2.setdefault("gender", "female")
print(dil_2)

dil_2["ravi"] = "ruhal"
print(dil_2)

{'a': 1, 'b': 3, 'c': 4}
{'a': 3, 'rani': 'ruja', 'e': 6}
{'a': 3, 'rani': 'ruja', 'e': 6, 'gender': 'female'}
{'a': 3, 'rani': 'ruja', 'e': 6, 'gender': 'female', 'ravi': 'ruhal'}

In [11]:
studants = ["raj", "mani", "murthy"]
default_grade = "A+"
grade_dict = dict.fromkeys(studants, default_grade)
print(grade_dict)

{'raj': 'A+', 'mani': 'A+', 'murthy': 'A+'}

In [17]:
#funtions
def fruits_name(a="apple",b="chery",c=5):
  s=a+b,
  t=a*c,
  u=b*c
  return s,t,u


m=fruits_name()
r=fruits_name("graps","banana",4)
e=fruits_name("orange","mango",6)
print(m,r,e)
print(m)
print(r)
print(e)

(('applechery',), ('appleappleappleappleapple',), 'cherycherycherycherychery') (('grapsbanana',), ('grapsgrapsgrapsgraps',), 'bananabananabananabanana') (('orangemango',), ('orangeorangeorangeorangeorangeorange',), 'mangomangomangomangomangomango')
(('applechery',), ('appleappleappleappleapple',), 'cherycherycherycherychery')
(('grapsbanana',), ('grapsgrapsgrapsgraps',), 'bananabananabananabanana')
(('orangemango',), ('orangeorangeorangeorangeorangeorange',), 'mangomangomangomangomangomango')

In [18]:
def show(*args, **kwargs):
    print("Args:", args)
    print("Kwargs:", kwargs)

a=show(1, 2, 3, name="Vijaya", age=25)
print(a)

Args: (1, 2, 3)
Kwargs: {'name': 'Vijaya', 'age': 25}
None

In [27]:
nums = [1, 2, 3, 4, 10, 20, 25]

def result_1(num,y):
  s= list(map(lambda x: x**y, num))
  return s

n=result_1(nums,y=5)
m=result_1(nums,y=3)
o=result_1(nums,y=4)
print(n)
print(m)
print(o)

[1, 32, 243, 1024, 100000, 3200000, 9765625]
[1, 8, 27, 64, 1000, 8000, 15625]
[1, 16, 81, 256, 10000, 160000, 390625]

In [32]:
s=lambda x,y: x**y
n=s(2,9)
m=s(4,6)
o=s(7,9)
print(n)
print(m)
print(o)

512
4096
40353607