<a href="https://colab.research.google.com/github/manjunathdivij/learning_python/blob/main/vijayaproject4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [111]:
#for loop
fruits=["apple","banana","chery"]
for i in fruits:
  print(i)

apple
banana
chery

In [7]:
#using index with range() and len()
fruits=["apple","banana","chery"]
for i in range(len(fruits)):
  print(f"index{i}={fruits[i]}")

index0=apple
index1=banana
index2=chery

In [110]:
#while loop
fruits=["apple","banana","chery"]
i=0
while i<len(fruits):
  print(fruits[i])
  i+=1

apple
banana
chery

In [16]:
#enumerate
marks=[90,79,88,68,57,49,88,85,77,93,98]
for index,mark in enumerate(marks):
  print(index,mark)

0 90
1 79
2 88
3 68
4 57
5 49
6 88
7 85
8 77
9 93
10 98

In [23]:
#enumerate
marks=[90,79,88,68,57,49,88,85,77,93,98]
for i in enumerate(marks):
  print(i)

(0, 90)
(1, 79)
(2, 88)
(3, 68)
(4, 57)
(5, 49)
(6, 88)
(7, 85)
(8, 77)
(9, 93)
(10, 98)

In [40]:
#list comprehension(short way to create lists)
fruits=["apple","banana","chery"]
new_list=[x for x in fruits if "b" in x]
print(fruits)
print(new_list)

['apple', 'banana', 'chery']
['banana']

In [45]:

squares=[x*x for x in range(20)]

print(squares)

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361]

In [108]:
evens=[x for x in range(20)if x%10==0 or x%2==0]
print(evens)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [76]:
#check if item exists
n=["sita","rani","dhanu"]
if "dhanu" in n:
  print("Yes in the n")
else:
  print("No in the n" )

Yes in the n

In [103]:
#copying lists
original=[1,2,3,4]
copy1=original.copy()
copy2=list(original)
copy3=original[0:1]
copy4=original[0:2]
copy5=original[0:3]
copy6=original[0:4]
print(copy1)
print(copy2)
print(copy3)
print(copy4)
print(copy5)
print(copy6)

[1, 2, 3, 4]
[1, 2, 3, 4]
[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]

In [84]:
#joining lists
a=[1,2,3]
b=[3,6,8]
a.extend(b)
print(a+b)

[1, 2, 3, 3, 6, 8, 3, 6, 8]

In [100]:
#nested list
matrix=[[1,2],[3,4],[5,6],[7,8],[9,10]]
print(matrix)
print(matrix[0])
print(matrix[0][1])

[[1, 2], [3, 4], [5, 6], [7, 8], [9, 10]]
[1, 2]
2

In [101]:
#importent  functions
nums=[10,20,30,40,50,60]
nums_n=[90,80,79,69,5,0,59,55]
print(sum(nums))
print(min(nums))
print(max(nums))
print(sorted(nums))
print(sorted(nums_n))
print(sum(nums_n))
print(min(nums),max(nums))
print(min(nums)+ max(nums))

210
10
60
[10, 20, 30, 40, 50, 60]
[0, 5, 55, 59, 69, 79, 80, 90]
437
10 60
70